/* line 64, spkjjqkj/*.png */
.spkjjqkj-sprite, .spkjjqkj-arrow_down, .spkjjqkj-arrow_right, .spkjjqkj-inspect-18 {
  background-image: url('/images/spkjjqkj-s8c07b97714.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.spkjjqkj-arrow_down {
  background-position: 0 0;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.spkjjqkj-arrow_right {
  background-position: 0 -20px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.spkjjqkj-inspect-18 {
  background-position: 0 -40px;
}
